body{
    background-color: blue;
}
.background{
    background-color: red;
}
.popefrancisisknownfor{
    background-color: yellow;
}
.popefranciseschildren{
    background-color: chartreuse;
}
.aboutpopefrancis{
    background-color: darkblue;
}