body{
    background-color: blue;
}
.background{
    background-color: blueviolet;
}
.popefrancisisknownfor{
    background-color: chartreuse;
}
.popefranciseschildren{
    background-color: crimson;
}
.aboutpopefrancis{
    background-color: darkorange;
}